@import url(../../../helpers//fonts/fonts.scss);

.IntroImage-Wrapper {
    width: 40%;
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 1000;
    user-select: none;
    cursor: pointer;
    transition: 0.5s;
}

.Dialog-Buble-Wrapper {
    position: absolute;
    top: -70px;
    right: -50px;
    z-index: 1700;
}

.IntroImage-Wrapper:hover::after {
    opacity: 0.9;
}

.IntroImage-Wrapper:hover {
   transform: translateY(-7px);
   transition: 0.5s;
    
}

.Dialog-Buble {
    position: relative;
    font-size: 18px;
    padding: 13px 0px 0px 18px;
    width: 230px;
	height: 130px;
	text-align: left;
	background-color: rgba($color: #634376, $alpha: 0.9);
	border: 8px solid var(--blue);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
    color: var(--yellow);
    opacity: 0;
    font-family: 'Nutito-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
}

.Dialog-Buble:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 22px; 
	top: 120px; 
	border: 25px solid; 
	border-color: var(--blue) transparent transparent var(--blue); 
}

.Dialog-Buble.active {
    opacity: 1;
}
