.Intro-Tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.CetTablets {
    position: relative;
    padding-bottom: 600px;
    height: 100%;
    overflow: hidden;
}