@import url(../../helpers/fonts/fonts.scss);

.Header {
    font-family: 'Nutito-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    background-color: #a4508b;
background-image: linear-gradient(326deg, #34063f 0%, var(--puprle) 74%);

    position: absolute;
    width: 100%;
}

.Header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}