@import url(../../helpers/fonts/fonts.scss);

.Header {
    font-family: 'Nutito-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    background-color: var(--puprle);
    position: absolute;
    width: 100%;
}

.Header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}