@import "../../../helpers/fonts/fonts.scss";
@import "../../../helpers/colors/colors.scss";


.Nav-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.Nav-link {
    font-size: 21px;
    font-family: Nutito-Light;
    font-weight: 300;
    margin: 0 10px;
    cursor: pointer;
    color: $yellow;
    transition: 0.2s;
    text-decoration: none;
}

.Nav-link:hover {
    color: var(--white);
}