
.Intro {
    height: 100vh;
    width: 100%;
    background: url("../../helpers/Images/Intro/introImage.png") center no-repeat;
    background-size: cover;
    padding-top: 67px;
}

.Intro-Inner-Tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Intro.Tab {
    height: 100%;
}

.Intro-inner {
    display: flex;
    flex-direction: column;
}

.Intro-select {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

