
body {
  margin: 0;
  font-family: 'Nutito-Light';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;

  max-width: 1230px;
  margin: 0 auto;

  padding: 0 15px;
}

.section {
  padding: 35px 0;
  background-color: var(--white);
}

